doctype html
html
    head
        title 七天恋人
        meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no",name="viewport")
        link(rel='stylesheet',href='/libs/jquery-mobile/dist/jquery.mobile.min.css')
        link(rel='stylesheet',href='/css/app.css')
    body     
        block content
        block foot
        block script
            script(src='/javascripts/jquery.js')
            script(src='/javascripts/jquery.mobile-1.4.5.min.js')
            